matplotlib==1.5.1
networkx==2.0
nltk==3.2.1
numpy==1.13.3
oauthlib==2.0.0
pandas==0.21.0
path.py==0.0.0
pathlib2==2.1.0
patsy==0.4.1
pyparsing==2.1.4
requests==2.10.0
requests-oauthlib==0.7.0
tweepy==3.5.0
unicodecsv==0.14.1
Unidecode==0.4.21
